In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('deliveries.csv')

In [3]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [4]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [6]:
df.tail()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [9]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [10]:
df.info

<bound method DataFrame.info of         match_id  inning                 batting_team  \
0              1       1          Sunrisers Hyderabad
1              1       1          Sunrisers Hyderabad
2              1       1          Sunrisers Hyderabad
3              1       1          Sunrisers Hyderabad
4              1       1          Sunrisers Hyderabad
...          ...     ...                          ...
150455       636       2  Royal Challengers Bangalore
150456       636       2  Royal Challengers Bangalore
150457       636       2  Royal Challengers Bangalore
150458       636       2  Royal Challengers Bangalore
150459       636       2  Royal Challengers Bangalore

                       bowling_team  over  ball        batsman    non_striker  \
0       Royal Challengers Bangalore     1     1      DA Warner       S Dhawan
1       Royal Challengers Bangalore     1     2      DA Warner       S Dhawan
2       Royal Challengers Bangalore     1     3      DA Warner       S Dhawan
3       Royal Challengers Bangalore     1     4      DA Warner       S Dhawan
4       Royal Challengers Bangalore     1     5      DA Warner       S Dhawan
...                             ...   ...   ...            ...            ...
150455          Sunrisers Hyderabad    20     2    Sachin Baby      CJ Jordan
150456          Sunrisers Hyderabad    20     3    Sachin Baby      CJ Jordan
150457          Sunrisers Hyderabad    20     4  Iqbal Abdulla    Sachin Baby
150458          Sunrisers Hyderabad    20     5    Sachin Baby  Iqbal Abdulla
150459          Sunrisers Hyderabad    20     6  Iqbal Abdulla    Sachin Baby

          bowler  is_super_over  ...  bye_runs  legbye_runs  noball_runs  \
0       TS Mills              0  ...         0            0            0
1       TS Mills              0  ...         0            0            0
2       TS Mills              0  ...         0            0            0
3       TS Mills              0  ...         0            0            0
4       TS Mills              0  ...         0            0            0
...          ...            ...  ...       ...          ...          ...
150455   B Kumar              0  ...         0            0            0
150456   B Kumar              0  ...         0            0            0
150457   B Kumar              0  ...         0            1            0
150458   B Kumar              0  ...         0            0            0
150459   B Kumar              0  ...         0            0            0

        penalty_runs  batsman_runs  extra_runs  total_runs  player_dismissed  \
0                  0             0           0           0               NaN
1                  0             0           0           0               NaN
2                  0             4           0           4               NaN
3                  0             0           0           0               NaN
4                  0             0           2           2               NaN
...              ...           ...         ...         ...               ...
150455             0             2           0           2               NaN
150456             0             0           0           0         CJ Jordan
150457             0             0           1           1               NaN
150458             0             1           0           1               NaN
150459             0             4           0           4               NaN

       dismissal_kind  fielder
0                 NaN      NaN
1                 NaN      NaN
2                 NaN      NaN
3                 NaN      NaN
4                 NaN      NaN
...               ...      ...
150455            NaN      NaN
150456        run out  NV Ojha
150457            NaN      NaN
150458            NaN      NaN
150459            NaN      NaN

[150460 rows x 21 columns]>

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150460 entries, 0 to 150459
Data columns (total 21 columns):
match_id            150460 non-null int64
inning              150460 non-null int64
batting_team        150460 non-null object
bowling_team        150460 non-null object
over                150460 non-null int64
ball                150460 non-null int64
batsman             150460 non-null object
non_striker         150460 non-null object
bowler              150460 non-null object
is_super_over       150460 non-null int64
wide_runs           150460 non-null int64
bye_runs            150460 non-null int64
legbye_runs         150460 non-null int64
noball_runs         150460 non-null int64
penalty_runs        150460 non-null int64
batsman_runs        150460 non-null int64
extra_runs          150460 non-null int64
total_runs          150460 non-null int64
player_dismissed    7438 non-null object
dismissal_kind      7438 non-null object
fielder             5369 non-null object
dtypes: int64(13), object(8)
memory usage: 24.1+ MB

In [13]:
df['dismissal_kind'].unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled',
       'stumped', 'retired hurt', 'hit wicket', 'obstructing the field'],
      dtype=object)

In [14]:
df['dismissal_kind'].value_counts()

caught                   4373
bowled                   1382
run out                   755
lbw                       455
stumped                   243
caught and bowled         211
hit wicket                  9
retired hurt                9
obstructing the field       1
Name: dismissal_kind, dtype: int64

In [16]:
df.shape

(150460, 21)

In [17]:
df.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000
mean,318.281317,1.482188,10.142649,3.616483,0.000538,0.037498,0.004885,0.022232,0.004340,0.000066,1.222445,0.069022,1.291466
std,182.955531,0.501768,5.674338,1.807698,0.023196,0.257398,0.114234,0.200104,0.072652,0.018229,1.594509,0.349667,1.583240
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,161.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,319.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,476.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,636.000000,4.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,6.000000,7.000000,7.000000

In [18]:
df.isnull()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
150456,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
150457,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
150458,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
150459,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True

In [19]:
df.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    143022
dismissal_kind      143022
fielder             145091
dtype: int64

In [20]:
df.isna()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
150456,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
150457,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
150458,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
150459,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True

In [21]:
# Check NO. of unique values per columns
df.nunique()

match_id            636
inning                4
batting_team         14
bowling_team         14
over                 20
ball                  9
batsman             461
non_striker         458
bowler              356
is_super_over         2
wide_runs             6
bye_runs              5
legbye_runs           6
noball_runs           5
penalty_runs          2
batsman_runs          7
extra_runs            7
total_runs            8
player_dismissed    436
dismissal_kind        9
fielder             451
dtype: int64

In [25]:
df.sum()

match_id                                                  47888607
inning                                                      223010
batting_team     Sunrisers HyderabadSunrisers HyderabadSunriser...
bowling_team     Royal Challengers BangaloreRoyal Challengers B...
over                                                       1526063
ball                                                        544136
batsman          DA WarnerDA WarnerDA WarnerDA WarnerDA WarnerS...
non_striker      S DhawanS DhawanS DhawanS DhawanS DhawanDA War...
bowler           TS MillsTS MillsTS MillsTS MillsTS MillsTS Mil...
is_super_over                                                   81
wide_runs                                                     5642
bye_runs                                                       735
legbye_runs                                                   3345
noball_runs                                                    653
penalty_runs                                                    10
batsman_runs                                                183929
extra_runs                                                   10385
total_runs                                                  194314
dtype: object

In [26]:
df.sum

<bound method DataFrame.sum of         match_id  inning                 batting_team  \
0              1       1          Sunrisers Hyderabad
1              1       1          Sunrisers Hyderabad
2              1       1          Sunrisers Hyderabad
3              1       1          Sunrisers Hyderabad
4              1       1          Sunrisers Hyderabad
...          ...     ...                          ...
150455       636       2  Royal Challengers Bangalore
150456       636       2  Royal Challengers Bangalore
150457       636       2  Royal Challengers Bangalore
150458       636       2  Royal Challengers Bangalore
150459       636       2  Royal Challengers Bangalore

                       bowling_team  over  ball        batsman    non_striker  \
0       Royal Challengers Bangalore     1     1      DA Warner       S Dhawan
1       Royal Challengers Bangalore     1     2      DA Warner       S Dhawan
2       Royal Challengers Bangalore     1     3      DA Warner       S Dhawan
3       Royal Challengers Bangalore     1     4      DA Warner       S Dhawan
4       Royal Challengers Bangalore     1     5      DA Warner       S Dhawan
...                             ...   ...   ...            ...            ...
150455          Sunrisers Hyderabad    20     2    Sachin Baby      CJ Jordan
150456          Sunrisers Hyderabad    20     3    Sachin Baby      CJ Jordan
150457          Sunrisers Hyderabad    20     4  Iqbal Abdulla    Sachin Baby
150458          Sunrisers Hyderabad    20     5    Sachin Baby  Iqbal Abdulla
150459          Sunrisers Hyderabad    20     6  Iqbal Abdulla    Sachin Baby

          bowler  is_super_over  ...  bye_runs  legbye_runs  noball_runs  \
0       TS Mills              0  ...         0            0            0
1       TS Mills              0  ...         0            0            0
2       TS Mills              0  ...         0            0            0
3       TS Mills              0  ...         0            0            0
4       TS Mills              0  ...         0            0            0
...          ...            ...  ...       ...          ...          ...
150455   B Kumar              0  ...         0            0            0
150456   B Kumar              0  ...         0            0            0
150457   B Kumar              0  ...         0            1            0
150458   B Kumar              0  ...         0            0            0
150459   B Kumar              0  ...         0            0            0

        penalty_runs  batsman_runs  extra_runs  total_runs  player_dismissed  \
0                  0             0           0           0               NaN
1                  0             0           0           0               NaN
2                  0             4           0           4               NaN
3                  0             0           0           0               NaN
4                  0             0           2           2               NaN
...              ...           ...         ...         ...               ...
150455             0             2           0           2               NaN
150456             0             0           0           0         CJ Jordan
150457             0             0           1           1               NaN
150458             0             1           0           1               NaN
150459             0             4           0           4               NaN

       dismissal_kind  fielder
0                 NaN      NaN
1                 NaN      NaN
2                 NaN      NaN
3                 NaN      NaN
4                 NaN      NaN
...               ...      ...
150455            NaN      NaN
150456        run out  NV Ojha
150457            NaN      NaN
150458            NaN      NaN
150459            NaN      NaN

[150460 rows x 21 columns]>

In [27]:
df.nunique()

match_id            636
inning                4
batting_team         14
bowling_team         14
over                 20
ball                  9
batsman             461
non_striker         458
bowler              356
is_super_over         2
wide_runs             6
bye_runs              5
legbye_runs           6
noball_runs           5
penalty_runs          2
batsman_runs          7
extra_runs            7
total_runs            8
player_dismissed    436
dismissal_kind        9
fielder             451
dtype: int64

In [28]:
df['total_runs'].mean()

1.2914661704107404